@charset "utf-8";
/* CSS Document */

body{
	margin: 0px auto;
	padding: 0;
	background-color:#011c37;
	}

.bg{
	background-image: url(../images/index_main_img.jpg);
	background-repeat: no-repeat;
	width: 1200px;
	height: 2747px;
	margin: 0 auto;
	}
/*活動第一重 begin*/	
.area_1{
	float: left;
	margin-top: 465px;
	margin-left:232px;
	width:732px;
	height:992px;
	background-image:url(../images/area_1_bg.png);
	}
/*1.猜角色*/
.select_1{
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 216px;
	margin-left: 524px;
	cursor:pointer;
	}

.select_2{
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 44px;
	margin-left: 524px;
	cursor:pointer;
	}

.select_3{
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 44px;
	margin-left: 524px;
	cursor:pointer;
	}

/*2.登錄資料*/
.fb_like_btn{
	float: left;
	width:78px;
	height:43px;
	background-image:url(../images/area_1_btn/fb_like_btn.png);
	margin-top:188px;
	margin-left:215px;
	cursor:pointer;
	}
/*信箱輸入*/
.email_enter_bg{
	float: left;
	margin-left: 114px;
	margin-top:57px;
	width:546px;
	height:45px;
	}	

#email{
	width:546px;
	height:45px;
	border:2px solid #f3d066;
	box-shadow:1px 1px 5px #000000;
	font-size:25px;
	}
/*電話輸入*/
.phone_numer_bg{
	float: left;
	margin-left:114px;
	margin-top:44px;
	width:546px;
	height:45px;
	}
	
#phone{
	width:546px;
	height:45px;
	border:2px solid #f3d066;
	box-shadow:1px 1px 5px #000000;
	font-size:25px;
	}
/*現在登錄*/	
.login{
	float:left;
	margin-top:43px;
	margin-left:153px;
	width:198px;
	height:73px;
	background-image:url(../images/area_1_btn/login_btn.png);
	cursor:pointer;
	}
	
.login_check{
	float:left;
	width:215px;
	height:32px;
	margin-top:62px;
	margin-left:16px;
	background-image:url(../images/area_1_btn/login_check.png);
	cursor:pointer;}
	
/*活動第一重 end*/

/*活動第二重 begin*/
.area_2{
	float: left;
	margin-top:19px;
	margin-left:232px;
	height: 430px;
	width: 732px;
	background-image:url(../images/area_2_bg.png);
}

.share{
	float:left;
	width:97px;
	height:43px;
	margin-top:316px;
	margin-left:72px;
	background-image:url(../images/area_2_btn/fb_share_btn.png);
	cursor:pointer;
	}
/*活動第二重 end*/

/*說明*/
.area_3{
	float:left;
	width:672px;
	height:591px;
	margin-top:51px;
	margin-left:262px;
	background-image:url(../images/area_3_bg.png);}


.footer{
	border:1px solid black;
	margin:0 auto;
	height: 93px;
	width: auto;
	background-image: url(../images/footer_bg.jpg);
	background-color: #000;
	background-repeat: repeat-x;
	background-position: center;
	}
	
.footer_container{
	width: 680px;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
	height: 62px;
}	

.copyright_logo{
	width:218px;
	height:35px;
	margin-left:233px;
	background-image:url(../images/copyright_logo.png);
	}

.copyright_txt{
	font-size: 15px;
	color: #999;
	float: left;
	margin-left:29px;
	margin-top:11px;}
